html{
  height: 100%;
}
body{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  height: 100%;
  background: #f3f3f3;
  margin: 0;
  overflow: hidden;
}
.content{
  height: calc(100% - 103px);
}
::-webkit-scrollbar {
  width: 10px; height: 10px;
  background: white;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #c7c7c7;
}
::-webkit-scrollbar-thumb:hover {
  width:12px;
}

.main-content {
  padding: 0;
  overflow-y:auto;
}

iron-icon {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

iron-icon:hover {
  fill: var(--google-yellow-700);
  cursor:hand;
  cursor:pointer;
}

.error-message {
  color: red;
}
.warning-message {
  color: green;
}

growl-notifications {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}
growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}
