        <px-navigation-container drawer>
    <!-- Header Bar -->
            <px-navigation extra>
                <span data-ng-if="WIN_WIDTH > 1000">IoT Platform Admin App - {{page}}</span>
                <span data-ng-if="WIN_WIDTH <= 1000">{{page}}</span>
                <span class="flex"></span>
            </px-navigation>

    <!-- Primary Navigation -->
            <px-navigation>
                <px-tab data-ng-repeat="item in LEFT_TABS" data-ng-click="selectTab(item[2])">{{ WIN_WIDTH > 800 ? item[0] : item[1] }}</px-tab>
                <px-tab active data-ng-if="CURRENT_TAB">{{ WIN_WIDTH > 800 ? CURRENT_TAB[0] : CURRENT_TAB[1] }}</px-tab>
                <px-tab data-ng-repeat="item in RIGHT_TABS" data-ng-click="selectTab(item[2])">{{ WIN_WIDTH > 800 ? item[0] : item[1] }}</px-tab>
            </px-navigation>
        </px-navigation-container>

        <growl-notifications></growl-notifications>
